/*Comum*/

body{
    background-color: #ADD8E6;  
}

input{
    
}
#frmUsuario input{
    
}

.b{
    
}
/*=====================================================================*/
/*Yan*/ 

/*usuario.php*/


table{
    
}

td{
    
}

th{
    
}


/*fim Yan*/
/*======================================================================*/
/*Ana*/

.btnExcluir{
    background-color: white;   
    text-color: white;
    border: solid 2px white;
    color: black;
    
}

.btnEditar{
    background-color: white;   
    text-color: white;
    border: solid 2px white;
    color: black;
}

.btnMenu{
    
}

.btnCadastrarUsuario{
    
}

input[type=submit]{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: #5b5;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #4a5;
}




/*Fim Ana*/